<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0 ">© {{ "now"|date("Y") }} FactuZen. Tous droits réservés.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="text-decoration-none">Mentions légales</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-decoration-none">CGV</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-decoration-none">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
