<footer class="footer text-center" style="background-color: #343a40; color: #fff;padding: 20px 0;">
    <div class="container">
        <p>Copyright &copy; 2024. All rights reserved.</p>
        <p>Designed with <span class="text-danger">&hearts;</span> by Ethan</p>
    </div>
</footer>